.card {
    background-color: #5F6F52;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card h2, .card h3 {
    margin-bottom: 0.5rem;
  }
  
  .card p {
    color: #FEFAE0;
    margin-bottom: 0.5rem;
  }
  