nav {
  width: 100%;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  transition: background 0.5s;
}

.logo {
  height: 100px;
  width: 200px;
  margin-left: 0;
  color: #fff;
  filter: invert(100%);
  object-fit: cover;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  border: #f9f7c9;
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: grey;
}

.btn {
  background-color: #f9f7c9;
}

.dark-nav {
  background: #434f3a;
}

.our-member-btn {
  background-color: #f9f7c9;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #5f6f52;
  }

  .nav-links.nav-active {
    display: flex;
    left: 0;
    opacity: 1;
    top: 100px;
  }

  .menu-icon {
    display: flex;
    position: relative;
    z-index: 51;
  }

  .menu-icon.open .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.open .bar2 {
    opacity: 0;
  }

  .menu-icon.open .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
